html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-padding-top: 177px;
  @media @bw1660 {
    scroll-padding-top: 141px;
  }
  @media @bw768 {
    scroll-padding-top: 100px;
  }
}
.body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: @header-height;
  overflow-wrap: break-word;
  background: #dedede url("../assets/images/bg_main.png") 0 0 / 100% auto no-repeat;
  color: @black;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  font-family: @font1;
  @media @bw1660 {
    padding-top: 111px;
  }
  @media @bw768 {
    padding-top: 70px;
  }
}
.main {
  flex: 1 0 auto;
  width: 100%;
  min-width: 0;
}
a {
  color: @black;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
textarea,
select,
button {
  font-family: inherit;
}
input,
textarea,
select {
  box-shadow: none;
  color: @black;
}
textarea {
  resize: vertical;
}
input,
textarea {
  &::placeholder {
    color: #6c6c6c;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
