/* Цвета */
@black: #1F1E1E;
@white: #ffffff;
@red: #BC3324;
@red-hover: #a51505;
@color-bg-header: #dedede80;

/* Шрифты */
@font1: "Open Sans", sans-serif;
@font2: "Lora", "Arial", serif;
@font3: "mak", "Arial", serif;

/* Размеры и сетка */
@container-max-width: 1414px;
@container-min-width: 990px;
@header-height: 147px;
@base-width: 1920px;

/* Анимации */
@transition-speed: 0.2s;