.board {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  color: @white;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  font-family: @font1;

  &--right {
    align-items: flex-end;
    padding-right: 6px;
    padding-bottom: 2px;
  }
}
