.breadcrumbs {
  .container();
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 4px;
  font-size: 14px;
  &__link {
    &:hover {
      color: @red;
    }
  }
  @media @bw768 {
    display: none;
  }
}
