.btn {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: 15px 40px;
  overflow: hidden;
  border: 1px solid @black;
  outline: none;
  background-color: transparent;
  color: @black;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  font-family: @font1;
  text-align: center;
  text-decoration: none;
  transition:
    color @transition-speed,
    background-color @transition-speed,
    border-color @transition-speed;
  cursor: pointer;

  &:hover {
    background-color: @black;
    color: @white;
  }

  &--red {
    border: none;
    background-color: @red;
    color: @white;

    &:hover {
      background-color: @red-hover;
    }
  }
}
