.check {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 24px;
  padding-top: 2px;
  padding-left: 40px;
  color: @black;
  cursor: pointer;
  user-select: none;

  &__input {
    .is-hidden();
    &:checked {
      & ~ .check__mark {
        background-color: @black;
        &::after {
          position: absolute;
          top: 2px;
          left: 7px;
          display: block;
          width: 6px;
          height: 12px;
          border-right: 2px solid @white;
          border-bottom: 2px solid @white;
          content: "";
          transform: rotate(45deg);
        }
      }
    }
    &:disabled {
      & ~ .check__label {
        color: #bfbfbf;
      }
      & ~ .check__mark {
        border-color: #bfbfbf;
      }
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid @black;
    transition: background-color @transition-speed;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    &--fz14 {
      font-size: 14px;
    }
    &--fz16 {
      font-size: 16px;
    }
  }

  &--red {
    .check__label {
      color: @red;
    }

    .check__mark {
      border-color: @red;
    }
    .check__input {
      &:checked {
        & ~ .check__mark {
          background-color: @red;
        }
      }
    }
  }
}
.check__error {
  display: block;
  margin: 5px 0 0;
  color: @red;
  font-size: 14px;
}
