.event {
    padding: 40px 0 150px;

    &__reserve {
        margin-top: 80px;
    }
}


.event__header { margin: 0 auto 60px; text-align: center; }
.event__title { margin: 0 0 40px; font-family: @font2; font-weight: 400; font-size: 40px; }
.event__picture { display: block; width: calc(100% - 40px); max-width: 522px; margin: 0 auto; }
.event__img { display: block; width: 100%; height: auto; }
@media @bw768 { .event__title { font-size: 28px; } }
