.free {

    & > * {
        background: none !important;
    }

    &.tcolor--black * {
        color: @black !important;
    }

    &.tcolor--red * {
        color: @red !important;
    }

    &.tcolor--gray * {
        color: @gray !important;
    }
}