.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: @header-height;
    background-color: @color-bg-header;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    z-index: 100;

    @media @bw1660 {
            height: 111px;
    }

    @media @bw768 {
        height: 70px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        background: rgb(222, 222, 222, 0.5);
    }

    &__container {
        .container();

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    &__logo {
        flex-shrink: 0;
        width: 202px;
        height: @header-height;
        font-size: 0;
        text-decoration: none;

        @media @bw1660 {
            width: 152px;
            height: 111px;
        }

        @media @bw1020 {
            z-index: 1;
        }

        @media @bw768 {
            position: relative;
            left: -20px;
            width: 96px;
            height: 70px;
        }

        &-icon {
            width: 100%;
            height: 100%;
        }
    }

    &__nav {
        display: flex;
        align-items: baseline;
        margin: 0 auto;
        gap: 50px;
        @media @bw1020 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            padding: 210px 30px 30px;
            backdrop-filter: blur(20px);
            background: rgb(222, 222, 222, 0.5);
            overflow-x: hidden;
            overflow-y: auto;
            transform: translateX(-100%);
        }

        &-link {
            color: @black;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.38;
            text-decoration: none;
            transition: color @transition-speed;

            &:hover {
                    color: @red;
                }
        }
    }

    &__right-block {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 202px;
        @media @bw1660 {
            width: 152px;
        }

        @media @bw1020 {
            width: auto;
            margin-left: auto;
            display: flex;
            gap: 30px;
            z-index: 1;
        }
        @media @bw768 {
            gap: 13px;
        }
    }

    &__btn {
        display: inline-flex;
        box-sizing: border-box;
        padding: 15px 40px;
        border: 1px solid @black;
        background-color: transparent;
        outline: none;
        color: @black;
        font-family: @font1;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.375;
        text-align: center;
        justify-content: center;
        text-decoration: none;
        transition: color @transition-speed, background-color @transition-speed, border-color @transition-speed;
        overflow: hidden;
        cursor: pointer;

        @media @bw1020 {
            width: 40px;
            height: 40px;
            padding: 0;
            border: none;
            font-size: 0;
        }
    
        &:hover {
            background-color: @black;
            color: @white;
        }
    }

    &__user-icon{
        display: none;
        @media @bw1020 {
            display: block;
            margin: auto;
        }
    }

    &__nav-toggle {
        display: none;
        @media @bw1020 {
            display: block;
            position: relative;
            right: -11px;
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 19px;
            left: 11px;
            width: 18px;
            height: 2px;
            border-radius: 2px;
            background-color: @black;
            transform-origin: 50% 50%;
        }
        &::before {
            top: 13px;
            box-shadow: 0 6px 0 @black;
        }
        &::after {
            top: 25px;
        }
    }
    &__nav-user {
        display: none;
        @media @bw1020 {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    &__nav-logout {
        font-size: 0;
    }
}