.page-footer {
  flex: 0 0 auto;
  padding: 60px 0;
  &__container { .container(); }
  &__subscribe-form { max-width: 410px; margin-left: auto; }
  @media @bw1340 { &__subscribe-form { max-width: 388px; } }
}
