.radio {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 23px;
    padding-left: 45px;
    color: @black;
    cursor: pointer;
  }

  &__input {
    .is-hidden();
    &:checked {
      & ~ .radio__mark {
        background-color: @black;
      }
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 23px;
    height: 23px;
    padding: 3px;
    border: 2px solid @black;
    border-radius: 50%;
    background-clip: content-box;
    background-color: transparent;
    transition: background-color @transition-speed;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
  }
}
