.reserve {
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px 1fr;
    grid-template-areas:
        "checks scheme"
        "order legend";
    width: 100%;
    @media @bw1340 {
        grid-template-columns: 340px 1fr;
        gap: 65px 6.5%;
    }
    @media @bw1020 {
        grid-template-columns: 1fr 390px;
        grid-template-areas:
            "scheme scheme"
            "checks legend"
            "checks order ";
        gap: 60px;
    }
    @media @bw768 {
        grid-template-columns: 1fr;
        grid-template-areas:
            "scheme"
            "legend"
            "checks"
            "order";
    }

    &__checks {
        grid-area: checks;
    }

    &__order {
        grid-area: order;
    }

    &__scheme {
        grid-area: scheme;
    }
}