.scheme {
  display: grid;
  grid-template-rows: 74px 93px 140px 166px;
  grid-template-columns: 142px 142px 188px 146px 162px;
  grid-template-areas:
    ".       .       stage   .       .      "
    "table10 table9  dance   table1  table2 "
    "table10 table8  dance   table4  table3 "
    "table11 table6  table7  table5  . ";

  &__stage {
    position: relative;
    grid-area: stage;
    justify-self: end;
  }

  &__dance {
    position: relative;
    top: 12px;
    left: 37px;
    grid-area: dance;
  }

  &__table1 {
    position: relative;
    top: 8px;
    grid-area: table1;
    justify-self: end;
  }

  &__table2 {
    position: relative;
    top: 4px;
    grid-area: table2;
    justify-self: end;
  }

  &__table3 {
    position: relative;
    top: 92px;
    grid-area: table3;
    justify-self: end;
  }

  &__table4 {
    position: relative;
    top: 5px;
    grid-area: table4;
    align-self: end;
    justify-self: end;
  }

  &__table5 {
    grid-area: table5;
    align-self: end;
  }

  &__table6 {
    position: relative;
    left: 87px;
    grid-area: table6;
    align-self: end;
  }

  &__table7 {
    position: relative;
    top: -50px;
    left: 9px;
    grid-area: table7;
  }

  &__table8 {
    grid-area: table8;
    align-self: end;
  }

  &__table9 {
    position: relative;
    grid-area: table9;
    justify-self: end;
  }

  &__table10 {
    position: relative;
    grid-area: table10;
    justify-self: end;
  }

  &__table11 {
    position: relative;
    top: -47px;
    grid-area: table11;
  }

  &-place {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
.scheme {
  width: 780px;
}
