.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 34px;
  background-color: @black;
  color: @white;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  font-family: @font1;
}
