.table-aflat {
    display: grid;
    width: 111px;
    height: 83px;
    grid-template-areas:
        "place1 place2 .     "
        "board  board  place3"
        "place4 place5 .     ";
    grid-template-columns: auto auto 24px;
    grid-template-rows: 24px 29px 24px;
    gap: 3px;

    &__pl1 {
        grid-area: place1;
    }

    &__pl2 {
        grid-area: place2;
    }

    &__pl3 {
        grid-area: place3;
        position: relative;
        left: 0;
    }

    &__pl4 {
        grid-area: place4;
    }

    &__pl5 {
        grid-area: place5;
    }

    &__board {
        grid-area: board;
        align-self: center;
    }
}