.table-vertical {
  display: grid;
  grid-template-rows: 24px 24px 24px 24px;
  grid-template-columns: 24px auto 24px;
  grid-template-areas:
    "place1 board  place2"
    "place3 board  place4"
    "place5 board  place6"
    ".      place7 .     ";
  column-gap: 3px;
  row-gap: 9px;
  width: 95px;
  height: 121px;

  &__pl1 {
    grid-area: place1;
  }

  &__pl2 {
    grid-area: place2;
  }

  &__pl3 {
    grid-area: place3;
  }

  &__pl4 {
    grid-area: place4;
  }

  &__pl5 {
    grid-area: place5;
  }

  &__pl6 {
    grid-area: place6;
  }

  &__pl7 {
    position: relative;
    top: -2px;
    grid-area: place7;
  }

  &__board {
    grid-area: board;
    width: 41px;
    height: 94px;
  }
}
