.tcolor {

    &--black * {
        background-color: @black;
        border-color: @black !important;
    }

    &--red * {
        background-color: @red;
        border-color: @red !important;
    }

    &--disable * {
        background-color: @gray !important;
        border-color: @gray !important;
        color: @black !important;
    }

}